# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT
if SHIELD_PLANCKBLE_LEFT

config ZMK_KEYBOARD_NAME
    default "Planck Duos BLE"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PLANCKBLE_LEFT || SHIELD_PLANCKBLE_RIGHT

config ZMK_SPLIT
    default y

endif