/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&lt {
    flavor = "balanced";
    tapping-term-ms = <100>;
};

/ {
    combos {
        compatible = "zmk,combos";

        Mute {
            bindings = <&kp K_MUTE>;
            key-positions = <16 28>;
            layers = <1>;
        };
    };

    macros {
    };

    behaviors {
        auto_shift: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "AUTO_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        TD_up_down: TD_up_down {
            compatible = "zmk,behavior-hold-tap";
            label = "TD_UP_DOWN";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <44>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC     &kp Q  &kp W      &kp E     &kp R     &kp T        &kp Y        &kp U       &kp I        &kp O    &kp P     &kp BSPC
&kp TAB     &kp A  &kp S      &kp D     &kp F     &kp G        &kp H        &kp J       &kp K        &kp L    &kp SEMI  &kp ENTER
&kp LSHIFT  &kp Z  &kp X      &kp C     &kp V     &kp B        &kp N        &kp M       &kp COMMA    &kp DOT  &kp FSLH  &kp RSHIFT
&to 2       &to 1  &kp LCTRL  &kp LALT  &kp LGUI  &lt 1 SPACE  &lt 1 SPACE  &lt 3 CAPS  &mt UP DOWN  &trans   &trans    &mt PG_UP PG_DN
            >;
        };

        layer_1 {
            bindings = <
&kp GRAVE   &kp N1  &kp N2     &kp N3    &kp N4        &kp N5          &kp N6     &kp N7         &kp N8     &kp N9     &kp N0    &kp BSPC
&kp ESC     &trans  &trans     &trans    &kp C_VOL_DN  &kp LANGUAGE_1  &kp UP     &kp DOWN       &kp MINUS  &kp EQUAL  &kp SQT   &kp ENTER
&kp LSHIFT  &trans  &trans     &trans    &kp C_VOL_UP  &kp LANGUAGE_2  &kp PG_UP  &kp PAGE_DOWN  &kp LBKT   &kp RBKT   &kp BSLH  &kp RSHIFT
&to 0       &to 2   &kp LCTRL  &kp LALT  &kp LGUI      &kp SPACE       &kp SPACE  &trans         &trans     &trans     &trans    &trans
            >;
        };

        layer_2 {
            bindings = <
&kp F1  &kp F2  &kp F3     &kp F4    &kp F5    &kp F6     &trans     &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp PLUS         &kp BSPC
&kp F7  &kp F8  &kp F9     &kp F10   &kp F11   &kp F12    &trans     &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp MINUS        &kp ENTER
&trans  &trans  &trans     &trans    &trans    &trans     &trans     &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_MULTIPLY  &kp DEL
&to 0   &to 1   &kp LCTRL  &kp LALT  &kp LGUI  &kp SPACE  &kp SPACE  &kp KP_NUMBER_0  &kp KP_DOT       &kp KP_ENTER     &kp KP_DIVIDE    &kp K_CALC
            >;
        };

        layer_3 {
            bindings = <
&kp ESC  &trans  &trans  &trans  &trans  &trans     &kp PAGE_UP    &kp HOME  &kp UP    &kp END    &kp INS  &kp BSPC
&kp TAB  &trans  &trans  &trans  &trans  &trans     &kp PAGE_DOWN  &kp LEFT  &kp DOWN  &kp RIGHT  &kp DEL  &kp ENTER
&trans   &trans  &trans  &trans  &trans  &trans     &trans         &trans    &trans    &trans     &trans   &trans
&to 0    &trans  &trans  &trans  &trans  &kp SPACE  &kp SPACE      &trans    &trans    &trans     &trans   &trans
            >;
        };
    };
};
